.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 1.4em;

    color: var(--text-header);
    background: none;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }

    &:hover {
        color: var(--highlight-secondary);
    }
}
