.button {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    margin: 4px;
    min-width: 24px;
    font-size: 1em;

    border: 0;
    border-radius: 4px;

    color: var(--highlight-text);
    background: var(--highlight-primary);
    box-shadow: 0 2px 1px var(--highlight-secondary);
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.secondary {
    color: var(--text-regular);
    border: 2px solid var(--text-regular);
    backdrop-filter: blur(12px);
    background: none;
    box-shadow: none;

    &:disabled {
        opacity: 0.4;
    }
}

.full {
    width: calc(100% - 8px);
    padding: 12px;
    justify-content: center;
}
