.bar {
    margin: 0;
    padding: 0;
}

.bar li {
    position: relative;
    list-style-type: none;
    float: left;
    margin: 12px 0;
    font-size: 12px;
    width: auto;

    &::before {
        width: 16px;
        height: 16px;
        content: "";
        border: 2px solid var(--highlight-secondary);
        display: block;
        text-align: center;
        margin: 0 auto;
        border-radius: 16px;
        position: relative;
        z-index: 20;
        background: var(--highlight-text);
    }

    &::after {
        width: 100%;
        height: 2px;
        content: "";
        position: absolute;
        background: var(--highlight-secondary);
        top: 8px;
        left: -50%;
        z-index: 0;
    }

    &:first-child::after {
        width: 50%;
        content: none;
    }

    &.active {
        color: var(--highlight-primary);
        font-weight: bold;

        &::before {
            border-color: var(--highlight-secondary);
            background: var(--highlight-primary);
        }
    }
}

.clickable {
    cursor: pointer;

    &:hover::before {
        background: var(--highlight-primary);
    }
}
